In [1]:
#Import Dependencies
%matplotlib notebook
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
file = "Exchange_Rate_Report1.csv"
foreign_ex = pd.read_csv(file)
foreign_ex

,"Representative rates for the period April 28, 2013 - March 23, 2021",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Date,Australian dollar (AUD),Chinese yuan (CNY),Euro (EUR),Japanese yen (JPY),Swiss franc (CHF),U.K. pound (GBP),U.S. dollar (USD)
2,29-Apr-2013,1.0312,NaN,1.3113,NaN,0.9393,1.5522,1
3,30-Apr-2013,1.0368,NaN,1.3072,97.91,0.9363,1.5485,1
4,1-May-2013,1.0367,NaN,NaN,97.25,NaN,1.5569,1
...,...,...,...,...,...,...,...,...
1980,The International Monetary Fund...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981,"implied, regarding these tables...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982,The Fund shall not be liable fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1983,in connection with this site. ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
foreign_ex.columns

Index(['Representative rates for the period  April 28, 2013 - March 23, 2021',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')

In [4]:
foreign_ex = foreign_ex.rename(columns={'Unnamed: 1': 'Australian Dollar (AUD)', 'Unnamed: 2': 'Chinese Yuan (CNY)', 'Unnamed: 3': 'Euro (EUR)', 'Unnamed: 4': 'Japanese Yen (JPY)', 'Unnamed: 5': 'Swiss Franc (CHF)', 'Unnamed: 6':'U.K. Pound (GBP)', 'Unnamed: 7': 'U.S. Dollar (USD)'})
foreign_ex

,"Representative rates for the period April 28, 2013 - March 23, 2021",Australian Dollar (AUD),Chinese Yuan (CNY),Euro (EUR),Japanese Yen (JPY),Swiss Franc (CHF),U.K. Pound (GBP),U.S. Dollar (USD)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Date,Australian dollar (AUD),Chinese yuan (CNY),Euro (EUR),Japanese yen (JPY),Swiss franc (CHF),U.K. pound (GBP),U.S. dollar (USD)
2,29-Apr-2013,1.0312,NaN,1.3113,NaN,0.9393,1.5522,1
3,30-Apr-2013,1.0368,NaN,1.3072,97.91,0.9363,1.5485,1
4,1-May-2013,1.0367,NaN,NaN,97.25,NaN,1.5569,1
...,...,...,...,...,...,...,...,...
1980,The International Monetary Fund...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981,"implied, regarding these tables...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982,The Fund shall not be liable fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1983,in connection with this site. ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
foreign_ex.columns

Index(['Representative rates for the period  April 28, 2013 - March 23, 2021',
       'Australian Dollar (AUD)', 'Chinese Yuan (CNY)', 'Euro (EUR)',
       'Japanese Yen (JPY)', 'Swiss Franc (CHF)', 'U.K. Pound (GBP)',
       'U.S. Dollar (USD)'],
      dtype='object')

In [6]:
foreign_ex_1 = foreign_ex.drop([0, 1])
foreign_ex_1

,"Representative rates for the period April 28, 2013 - March 23, 2021",Australian Dollar (AUD),Chinese Yuan (CNY),Euro (EUR),Japanese Yen (JPY),Swiss Franc (CHF),U.K. Pound (GBP),U.S. Dollar (USD)
2,29-Apr-2013,1.0312,NaN,1.3113,NaN,0.9393,1.5522,1
3,30-Apr-2013,1.0368,NaN,1.3072,97.91,0.9363,1.5485,1
4,1-May-2013,1.0367,NaN,NaN,97.25,NaN,1.5569,1
5,2-May-2013,1.0231,6.2082,1.3191,97.22,0.9288,1.5574,1
6,3-May-2013,1.0271,6.2152,1.3114,NaN,0.9322,1.5555,1
...,...,...,...,...,...,...,...,...
1980,The International Monetary Fund...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981,"implied, regarding these tables...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982,The Fund shall not be liable fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1983,in connection with this site. ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
clean_foreign_ex = foreign_ex_1.drop(foreign_ex_1.index[1965:1984])
clean_foreign_ex

,"Representative rates for the period April 28, 2013 - March 23, 2021",Australian Dollar (AUD),Chinese Yuan (CNY),Euro (EUR),Japanese Yen (JPY),Swiss Franc (CHF),U.K. Pound (GBP),U.S. Dollar (USD)
2,29-Apr-2013,1.0312,NaN,1.3113,NaN,0.9393,1.5522,1
3,30-Apr-2013,1.0368,NaN,1.3072,97.91,0.9363,1.5485,1
4,1-May-2013,1.0367,NaN,NaN,97.25,NaN,1.5569,1
5,2-May-2013,1.0231,6.2082,1.3191,97.22,0.9288,1.5574,1
6,3-May-2013,1.0271,6.2152,1.3114,NaN,0.9322,1.5555,1
...,...,...,...,...,...,...,...,...
1962,16-Mar-2021,0.7753,6.5022,1.1926,109.19,0.92525,1.3864,1
1963,17-Mar-2021,0.7737,6.5026,1.1907,109.13,0.92815,1.3897,1
1964,18-Mar-2021,0.7827,6.5025,1.1912,108.96,0.92765,1.39555,1
1965,19-Mar-2021,0.7753,6.502,1.1891,109.09,0.92815,1.39105,1
1966,22-Mar-2021,0.7726,6.5091,1.1926,108.9,0.92465,1.3873,1

In [8]:
clean_foreign_ex

,"Representative rates for the period April 28, 2013 - March 23, 2021",Australian Dollar (AUD),Chinese Yuan (CNY),Euro (EUR),Japanese Yen (JPY),Swiss Franc (CHF),U.K. Pound (GBP),U.S. Dollar (USD)
2,29-Apr-2013,1.0312,NaN,1.3113,NaN,0.9393,1.5522,1
3,30-Apr-2013,1.0368,NaN,1.3072,97.91,0.9363,1.5485,1
4,1-May-2013,1.0367,NaN,NaN,97.25,NaN,1.5569,1
5,2-May-2013,1.0231,6.2082,1.3191,97.22,0.9288,1.5574,1
6,3-May-2013,1.0271,6.2152,1.3114,NaN,0.9322,1.5555,1
...,...,...,...,...,...,...,...,...
1962,16-Mar-2021,0.7753,6.5022,1.1926,109.19,0.92525,1.3864,1
1963,17-Mar-2021,0.7737,6.5026,1.1907,109.13,0.92815,1.3897,1
1964,18-Mar-2021,0.7827,6.5025,1.1912,108.96,0.92765,1.39555,1
1965,19-Mar-2021,0.7753,6.502,1.1891,109.09,0.92815,1.39105,1
1966,22-Mar-2021,0.7726,6.5091,1.1926,108.9,0.92465,1.3873,1

In [9]:
clean_foreign_ex = clean_foreign_ex.reset_index()

In [10]:
clean_foreign_ex.columns

Index(['index',
       'Representative rates for the period  April 28, 2013 - March 23, 2021',
       'Australian Dollar (AUD)', 'Chinese Yuan (CNY)', 'Euro (EUR)',
       'Japanese Yen (JPY)', 'Swiss Franc (CHF)', 'U.K. Pound (GBP)',
       'U.S. Dollar (USD)'],
      dtype='object')

In [11]:
clean_foreign_ex = clean_foreign_ex[['Representative rates for the period  April 28, 2013 - March 23, 2021',
       'Australian Dollar (AUD)', 'Chinese Yuan (CNY)', 'Euro (EUR)',
       'Japanese Yen (JPY)', 'Swiss Franc (CHF)', 'U.K. Pound (GBP)',
       'U.S. Dollar (USD)']]
clean_foreign_ex

,"Representative rates for the period April 28, 2013 - March 23, 2021",Australian Dollar (AUD),Chinese Yuan (CNY),Euro (EUR),Japanese Yen (JPY),Swiss Franc (CHF),U.K. Pound (GBP),U.S. Dollar (USD)
0,29-Apr-2013,1.0312,NaN,1.3113,NaN,0.9393,1.5522,1
1,30-Apr-2013,1.0368,NaN,1.3072,97.91,0.9363,1.5485,1
2,1-May-2013,1.0367,NaN,NaN,97.25,NaN,1.5569,1
3,2-May-2013,1.0231,6.2082,1.3191,97.22,0.9288,1.5574,1
4,3-May-2013,1.0271,6.2152,1.3114,NaN,0.9322,1.5555,1
...,...,...,...,...,...,...,...,...
1960,16-Mar-2021,0.7753,6.5022,1.1926,109.19,0.92525,1.3864,1
1961,17-Mar-2021,0.7737,6.5026,1.1907,109.13,0.92815,1.3897,1
1962,18-Mar-2021,0.7827,6.5025,1.1912,108.96,0.92765,1.39555,1
1963,19-Mar-2021,0.7753,6.502,1.1891,109.09,0.92815,1.39105,1
1964,22-Mar-2021,0.7726,6.5091,1.1926,108.9,0.92465,1.3873,1

In [12]:
clean_foreign_ex.dtypes

Representative rates for the period  April 28, 2013 - March 23, 2021    object
Australian Dollar (AUD)                                                 object
Chinese Yuan (CNY)                                                      object
Euro (EUR)                                                              object
Japanese Yen (JPY)                                                      object
Swiss Franc (CHF)                                                       object
U.K. Pound (GBP)                                                        object
U.S. Dollar (USD)                                                       object
dtype: object

In [13]:
clean_foreign_ex['Australian Dollar (AUD)'] = clean_foreign_ex['Australian Dollar (AUD)'].astype(float)

In [14]:
clean_foreign_ex['Chinese Yuan (CNY)'] = clean_foreign_ex['Chinese Yuan (CNY)'].astype(float)

In [15]:
clean_foreign_ex['Euro (EUR)'] = clean_foreign_ex['Euro (EUR)'].astype(float)

In [16]:
clean_foreign_ex['Japanese Yen (JPY)'] = clean_foreign_ex['Japanese Yen (JPY)'].astype(float)

In [17]:
clean_foreign_ex['Swiss Franc (CHF)'] = clean_foreign_ex['Swiss Franc (CHF)'].astype(float)

In [18]:
clean_foreign_ex['U.K. Pound (GBP)'] = clean_foreign_ex['U.K. Pound (GBP)'].astype(float)

In [19]:
clean_foreign_ex['U.S. Dollar (USD)'] = clean_foreign_ex['U.S. Dollar (USD)'].astype(float)

In [21]:
#Mean for AUD, CNY, EUR, JPY, CHF, GBP

AUD_mean = clean_foreign_ex['Australian Dollar (AUD)'].mean()
print(f"The mean for AUD is {AUD_mean}")

The mean for AUD is 0.7731068217874141

In [22]:
CNY_mean = clean_foreign_ex['Chinese Yuan (CNY)'].mean()
print(f"The mean for CNY is {CNY_mean}")

The mean for CNY is 6.559191176470573

In [23]:
EURO_mean = clean_foreign_ex['Euro (EUR)'].mean()
print(f"The mean for EURO is {EURO_mean}")

The mean for EURO is 1.175835309278348

In [24]:
JPY_mean = clean_foreign_ex['Japanese Yen (JPY)'].mean()
print(f"The mean for JPY is {JPY_mean}")

The mean for JPY is 109.46898924731171

In [25]:
CHF_mean = clean_foreign_ex['Swiss Franc (CHF)'].mean()
print(f"The mean for CHF is {CHF_mean}")

The mean for CHF is 0.9603364412070758

In [26]:
GBP_mean = clean_foreign_ex['U.K. Pound (GBP)'].mean()
print(f"The mean for GBP is {GBP_mean}")

The mean for GBP is 1.403978494069109

In [27]:
USD_mean = clean_foreign_ex['U.S. Dollar (USD)'].mean()
print(f"The mean for USD is {USD_mean}")

The mean for USD is 1.0

In [28]:
cleaned_foreign_ex = clean_foreign_ex.fillna(method='ffill')
cleaned_foreign_ex

,"Representative rates for the period April 28, 2013 - March 23, 2021",Australian Dollar (AUD),Chinese Yuan (CNY),Euro (EUR),Japanese Yen (JPY),Swiss Franc (CHF),U.K. Pound (GBP),U.S. Dollar (USD)
0,29-Apr-2013,1.0312,NaN,1.3113,NaN,0.93930,1.55220,1.0
1,30-Apr-2013,1.0368,NaN,1.3072,97.91,0.93630,1.54850,1.0
2,1-May-2013,1.0367,NaN,1.3072,97.25,0.93630,1.55690,1.0
3,2-May-2013,1.0231,6.2082,1.3191,97.22,0.92880,1.55740,1.0
4,3-May-2013,1.0271,6.2152,1.3114,97.22,0.93220,1.55550,1.0
...,...,...,...,...,...,...,...,...
1960,16-Mar-2021,0.7753,6.5022,1.1926,109.19,0.92525,1.38640,1.0
1961,17-Mar-2021,0.7737,6.5026,1.1907,109.13,0.92815,1.38970,1.0
1962,18-Mar-2021,0.7827,6.5025,1.1912,108.96,0.92765,1.39555,1.0
1963,19-Mar-2021,0.7753,6.5020,1.1891,109.09,0.92815,1.39105,1.0
1964,22-Mar-2021,0.7726,6.5091,1.1926,108.90,0.92465,1.38730,1.0

In [29]:
# Push the remade DataFrame to a new CSV file
cleaned_foreign_ex.to_csv("cleaned_foreign_ex.csv",
                  encoding="utf-8", index=False, header=True)

In [30]:
#Fluctuations
cleaned_foreign_ex.plot(x="Representative rates for the period April 28, 2013 - March 23, 2021",y="Australian Dollar (AUD)", rot=45)
plt.xlabel("Date",size=16)
plt.ylabel("AUD",size=16)
plt.title("AUD Fluctuations", size=18)
plt.tight_layout()

KeyError: 'Representative rates for the period April 28, 2013 - March 23, 2021'