In [1]:
#%matplotlib notebook
import json
import requests
#from config import api_key
import matplotlib.pyplot as plt
import datetime
from time import strptime
import numpy as np
import pandas as pd
import os
import csv
import re

In [4]:
cryptodatafile = 'Exchange_Rate_Report1.csv'
TradCurrencyRaw_df = pd.read_csv(cryptodatafile)

TradCurrencyRaw_df.head(10)

,"Representative rates for the period April 28, 2013 - March 23, 2021",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Date,Australian dollar (AUD),Chinese yuan (CNY),Euro (EUR),Japanese yen (JPY),Swiss franc (CHF),U.K. pound (GBP),U.S. dollar (USD)
2,29-Apr-2013,1.0312,NaN,1.3113,NaN,0.9393,1.5522,1
3,30-Apr-2013,1.0368,NaN,1.3072,97.91,0.9363,1.5485,1
4,1-May-2013,1.0367,NaN,NaN,97.25,NaN,1.5569,1
5,2-May-2013,1.0231,6.2082,1.3191,97.22,0.9288,1.5574,1
6,3-May-2013,1.0271,6.2152,1.3114,NaN,0.9322,1.5555,1
7,6-May-2013,1.029,6.2114,1.3107,NaN,0.9372,1.5538,1
8,7-May-2013,1.0193,6.2083,1.3107,98.97,0.9397,1.5534,1
9,8-May-2013,1.0187,6.198,1.3135,98.9,0.94,1.5503,1

In [ ]:
# Function to convert "Date" to usable / sortable format 
def monthToNum(shortMonth):
    return {
            'jan' : 1,
            'feb' : 2,
            'mar' : 3,
            'apr' : 4,
            'may' : 5,
            'jun' : 6,
            'jul' : 7,
            'aug' : 8,
            'sep' : 9, 
            'oct' : 10,
            'nov' : 11,
            'dec' : 12
    }[shortMonth]
splitdate = pd.DataFrame()
splitdate[['month','day','year']] = RawCrypto_df['Date'].str.split("\s|,", 2, expand=True)
splitdate['month'] = splitdate['month'].str.lower()
splitdate['month'] = splitdate['month'].apply(monthToNum)

# Insert Datestamp YYYMMDD Column for sorting 
RawCrypto_df.insert(1,'Datestamp',pd.to_datetime(splitdate[['year','month','day']]))
RawCrypto_df